.navigationDiv {
  display: flex;
  gap: 80px;
  font-size: 30px;
  color: grey;
  background-color: lightgrey;
  padding: 20px;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}
